ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    display: flex;
}

ul li {
    display: inline-block;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 17px;
    color: #fff;
    background-color: black;
    padding: 14px 20px;
    text-decoration: none;
    height: 50px;
}

ul li a:hover {
    background-color: grey;
}
